Source: reflogging
Section: python
Priority: optional
Maintainer: Hannes <hannes@pokermania.de>
X-Python-Version: >= 2.6, << 3.0
Build-Depends:
    debhelper,
    python-all
Standards-Version: 3.8.3
Homepage: http://github.com/tuco86/reflogging

Package: python-reflogging
Conflicts: python-poker-reflogging
Replaces: python-poker-reflogging
Section: python
Architecture: all
Provides: ${python:Provides}
Depends:
    ${misc:Depends},
    ${python:Depends},
    python-cjson
Description: the reflogger
 logging with references
